body {
    font-family: Bahnschrift, serif;
    background-size: 100% 100%;
    background-image: url('../img/cool_cats.jpg');
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
}
div {
    margin-left: 10%;
    margin-right: 10%;
}
th {
    background-color: #585757;
    color: whitesmoke;
    font-size: 1.3em;
}
thead {
    border-bottom: 3px solid black;
}
.td_left {
    text-align: left;
}
.td_mid {
    text-align: center;
}
.td_right {
    text-align: right;
}
tr {
    background-color: white;
    opacity: 100%;
}
.header {
    background-color: black;
    color: white;
}

#cats {

}

.numlinks {
    font-size: 2em;
    color: black;
    font-weight: bold;
}