#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px
}

#message {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}

.logo {
    width: 10%;
}

body {
    text-align: center;
    background-color: royalblue;
}