
/* Element Tags */

body {
    background-size: 100% 100%;
    background-image: url('../images/background_image.jpg');
    background-attachment: fixed;
    font-family: Bahnschrift, serif;
    text-align: center;
}
h1 {
    font-size: 3em;
}
li {
    font-size: 0.8em;
    text-align: left;
    margin-left: 40%;
    line-height: 1.5em;
}
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color: #38cd38;
    text-shadow: 2px 2px #000000;
}

/* Class tags */

.main {
    margin-left: 10%;
    font-size: 2em;
    padding: 10px;
}
.pictures {
    border: 3px solid black;
    opacity: 70%;
    border-radius: 20px;
}
.piclink {
    font-size: 0.5em;
    text-align: center;
    color: grey;
}
.sidenav {
    border-right: 2px solid black;
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, black 0%, darkgreen 35%, darkgreen 65%, black 100%);
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 80%;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    display: block;
}
.sidenav a:hover {
    color: limegreen;
}
.textfield {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 5px solid black;
    border-radius: 20px;
    color: white;
}
.textfield p {
    margin-left: 4%;
    margin-right: 4%;
    text-align: left;
    color: white;
    font-size: 20px;
}
.textfield a {
    text-decoration: darkgreen;
    color: greenyellow;
}
.textfield a:hover {
    color: darkgreen;
}
.underlinks {
    font-size: 0.7em;
}
.underlinks a {
    color: yellowgreen;
}

/* ID Tags */

#intro {
    margin-top: 5%;
    color: white;
    text-shadow: 2px 2px #000000;
}
.separator {
    margin-left: 10%;
    margin-right: 10%;
}

#listing {
    font-size: 0.9em;
    margin-left: -30%;
}

#listing li {
    line-height: 200%;
}

.underlists {
    font-size: 0.7em;
    line-height: 150%;
    margin-left: 5%;
    margin-right: 35%;
    color: white;
}

.commands {
    color: #38cd38;
    margin-left: 15%;
}

span {
    color: #55f655;
}

.centredPics {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.green {
    color: #55f655;
}
.inwardsList {
    margin-left: -50%;
    color: #38cd38;
    font-size: 0.8em
}

.left {
    left: 0;
}
.right {
    right: 0;
}
.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#jqueryTable p{
    text-align: center;
}
.jQueryHeader {
    width: 33%;
    font-size: 0.7em;
    padding-bottom: 2%;
    color: #38cd38;
}