#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px
}

body {
    background-size: 100% 100%;
    background-image: url('./_files/images/wallpaper.jpg');
    background-attachment: fixed;
    font-family: Bahnschrift, serif;
    text-align: center;
}

button {
    background-color: lightskyblue;
    color: black;
    border-radius: 5px;
}

h1 {
    color: white;
}